<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>
   Bitcoin swap bot
  </title>

  <!-- CSS  -->
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">
        <img src="{{url_for('static', filename='img/avarice.png')}}" alt=""/>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="login.html">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">Passive income with swaps - over 60 000$ under management</h1>
      <div class="row center">
        <h5 class="header col s12 light">Smart algo for bitmarket exchange</h5>
      </div>
      <div class="row center">
        <a href="login" id="download-button" class="btn-large waves-effect waves-light blue">
          Two clicks to passive income!</a>

        <img src="http://bitmarket.pl/graphs/swap/BTC/1y.svg">
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="sectioTeam">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center "><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">API Speed</h5>

            <p class="light">No need for manually changing swap rates. Just turn it on.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center text"><i class="mdi-action-account-balance"></i></h2>
            <h5 class="center">Security</h5>
            <p class="light">We don't have any access to your account other than via API keys that allow only for basic swap operations. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center text"><i class="mdi-action-trending-up"></i></h2>
            <h5 class="center">Up to 250% yearly profit!</h5>

            <p class="light">Sometimes rates are off the charts - with our bot you will be sure that you will catch that spike</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Legal disclaimer</h5>
          <p class="grey-text text-lighten-4">Copyright and Terms of Service </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Resources</h5>
          <ul>
            <li><a class="white-text" href="https://bitmarket.zendesk.com/hc/pl/sections/200731902-Kontrakty-swap">Swaps explaination</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">Team</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
