<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title></title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    </head>
    <body>
    <div class="container" style="margin-top: 15%;">
       <h3>Wpisz klucze API z zaznaczonymi polami:</h3>
       <ul>
          <li>Pobranie wartości sald na koncie</li>
          <li>Pobranie listy kontraktów swap</li>
          <li>Otwarcie kontraktu swap</li>
          <li>Zamknięcie kontraktu swap</li>
          <li>!! Bez żadnych dodatkowych </li>
       <ul>
    </br>
    <form action="handle" method="POST">
    Public API key: <input type="text" name="pubkey"><br>
    Private API key: <input type="text" name="privkey"><br>
    <button class="btn waves-effect waves-light green" type="submit" name="action">Submit
    <i class="mdi-action-https"></i>
    </button>
    </form>
     </div>
   </body>
</html>
